/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    font-family: 'helvetica', monospace,'lato' sans-serif;
}
html, body{
    background-color: #7AFFAC;
}
h1{
    font-size: 6.854rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Palatino Linotype', 'Book Antiqua', 'trilong', serif; 
    padding: 1rem 2rem;
}
h2{
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino', serif;
    padding: 1rem 2rem;
}
nav li{
    font-size: 2.618rem;
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: #A24916;
    color: #485992;
}
header{
    border-bottom: 0.8rem solid khaki;
    background-color: #EC4916;
    color: #485992;
}
.menu-v{
    width: 100%;
}
    .menu-v li{
      
        list-style: none;
    }

        .menu-v a,
        .menu-v a:link,
        .menu-v a:visited{
            
        }
        .menu-v a:hover
        .menu-v a:active{
            
       
        }
.menu-h{
    width: 20%;
    float:left;
    
}
    .menu-h li{
     
        list-style: none;
    }
        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited{
         
        }
        .menu-h a:hover,
        .menu-h a:active{
            
        }

main{
    width:80%;
    float: right;
}
footer{
    clear:both;
}